{% extends "base.html" %}

{% block title %}
ABOUT
{% endblock %}

{% block content %}
<div class="container text-center">
    <h2>About MediCure</h2>
    <p>Welcome to [Hospital Name], where we are committed to providing exceptional healthcare with compassion and
        dedication. As a leading healthcare institution, we take pride in our unwavering commitment to the well-being of
        our community.</p>

    <hr>
    <h4>Our Mission</h4>
    <p>At [Hospital Name], our mission is to deliver high-quality, patient-centered care with a focus on medical
        excellence, innovation, and community outreach. We strive to be a trusted healthcare partner, dedicated to
        improving the health and lives of those we serve.</p>
    <hr>
    <h4>Our Values</h4>
    <h6>Compassion:</h6>We approach healthcare with empathy, kindness, and a genuine concern for the welfare of
    our patients.

    <h6>Excellence:</h6>We uphold the highest standards of medical expertise, utilizing advanced technology and
    best practices to ensure optimal patient outcomes.
    <h6>Collaboration:</h6>We believe in working collaboratively with patients, families, and the broader healthcare
    community to achieve comprehensive and personalized care.
</div>
{% endblock %}