{% extends "base.html" %}

{% block title %}
CONTACT
{% endblock %}

{% block content %}
<h1 align="center">Contact Us</h1>
<hr>
<div class="container">
    <h3>Contact Information</h3>
    <h5>Address</h5>
    <p>Medicure Hospital <br>
        ABC Street <br>
        XYZ City <br>
        999999
    </p>
    <h5>Phone</h5>
    <li>Reception : 9876565</li>
    <li>Emergency : 9119119119</li>
    <br>
    <h5>Email</h5>
    <li>Enquiry : enquiry@medicure.com</li>
    <li>Complaints : complaints@medicure.com</li>

</div>


{% endblock %}